body {
    cursor: auto;
    cursor: url(cursor.png);
    font-family: sans-serif;
    color: white;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

#welcome-message {
  padding: 20px;
}

#canvas-demo {
    background: #f0f0f0 ;
    border-radius: 5px;
}

button {
    border: none;
    appearance: none;
    outline: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 48px 12px 48px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #333;
    border-color: 2px solid #ffffff;
}

button { transition-duration: 0.4s;}

button:hover {
    font-size: 1.6em;
    background-color: #05c46b;
}

div#game {
    background-color: deepskyblue;
    width: 960px;
    height: 600px;
    transform: scale(1);
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: top left;
}

div#info {
    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
    text-align: center;
    padding-top: 15%;
}

div.player {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(cursor_black.png);
}

div#cursor {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url(cursor_white.png);
}


.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    align-items: center;
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  /* Add styles necessary for game menu */
  .container {
    position: relative;
    width: 600px;
    padding: 24px;
    margin: 30px auto;
    border-radius: 25px;
  }

  .container .input-box-wrapper {
    position: relative;
  }

  .input-box-wrapper .box {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #26262c;
    border-bottom: 0;
    padding: 14px 10px;
  }

  .input-box-wrapper .box label {
    padding: 20px;
    cursor: pointer;
    display: block;
  }
  .input-box-wrapper .box .optionMenu {
    position: relative;
    width: 22 px;
    height: 22px;
    cursor: pointer;
  }

  #submitGameMode {
    background-color: #046daa; /* Green background */
    border: 1px solid rgb(0, 34, 128); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    align-items: center;
  }

.left {
  width: 50%;
}
    
.right {
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
}